/* Styles for helperBox popup */
.helperBox {
  display: none;
  position: absolute;
  z-index: 9999;
  background: black;
  border: 3px solid white;
  padding: 10px;
  width: 300px;
}

.helperBox h1 {
  padding: 0px 0px 5px 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgb(153, 153, 153);
  text-transform: capitalize;
}

.helperBox hr {
  margin: 0px;
  padding: 5px;
}

.helperBox p {
  font-size: 12px;
}
/**************************************/

/* Styles for IMDB links */
.imdbLink {
  text-decoration: underline;
}

.imdbLink:hover {
  text-decoration: underline;
  color: #999;
}
